---
layout: default
---

<div class="home">
 <h1 class="page-heading">Projekt beskrivelse</h1>
  
  <p>Vores projekt består af en containerization af applikationen, som håndteres via Docker. 
    Vores projekt består også af en Nginx webserver samt en applikationsserver via Django, som er angivet i vores docker-compose.yml fil. 
    Her håndterer vi de forskellige containere, og kører dem, hvor vi muliggør det, at køre alle containere med én enkelt kommando. 
    <br><br>
    I vores .gitlab-cy.yml fil håndterer vi konfigurationen af vores pipeline, som Gitlab finder frem til og starter udførelsen. 
    </p>
    <ul class="post-list">
    {% for post in site.posts %}
      <li style="margin-bottom:0;">
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->
        <p>
          <a class="post-link" style="font-size:1rem;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </p>
      </li>
    {% endfor %}
  </ul>
      <h1 class="page-heading">Klon projektet</h1>
      <p>Med SSH
      $ git clone git@gitlab.com:delta9961510/environments_project_2.git
      <br>
      Med HTTPS
      $ git clone https://gitlab.com/delta9961510/environments_project_2.git
      <h1 class="page-heading">Start projektet fra terminal</h1>
      Opret et Python environment
      <br>
      $ python3 -m venv path/<environment-name>
      <br>
      Aktiver environment
      <br>
      $ source path/<environment-name>/bin/activate
      <br>
      Installer packages
      <br>
      $ pip install -r requirements.txt
      <br>
      Migrate Database
      <br>
      $ python manage.py makemigrations
      <br>
      $ python manage.py migrate
      <br>
      Opret en superbruger
      <br>
      $ docker exec -it container_id python manage.py createsuperuser
      <br>
      Start server
      <br>
      $ RTE=env docker-compose up --scale app=2
      <br>
      Continuous integration med gitlab
      <br>
      $ git add . && git commit -m "msg" && git push
    </p>
</div>
